In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
%matplotlib inline

In [3]:
df=pd.read_csv('100data.csv')

In [4]:
df.head()

   sensor1  sensor2  sensor3
0  2222.65  8341.91     1.02
1  2211.57  8303.96     1.02
2  1915.11  8001.42     0.94
3  2211.58  8303.96     1.02
4  1915.10  7993.23     0.94

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sensor1  100 non-null    float64
 1   sensor2  100 non-null    float64
 2   sensor3  100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB

In [6]:
df.isnull().sum()

sensor1    0
sensor2    0
sensor3    0
dtype: int64

In [7]:
import random
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
for row, col in random.sample(ix, int(round(.1*len(ix)))):
    df.iat[row, col] = np.nan

In [8]:
df.head()

   sensor1  sensor2  sensor3
0  2222.65  8341.91     1.02
1  2211.57      NaN     1.02
2  1915.11  8001.42     0.94
3  2211.58  8303.96     1.02
4  1915.10  7993.23     0.94

In [9]:
df.isnull().sum()

sensor1    10
sensor2    12
sensor3     8
dtype: int64

In [10]:
df.describe()

           sensor1      sensor2    sensor3
count    90.000000    88.000000  92.000000
mean   2214.572222  8489.197614   1.088804
std     149.083077   352.724995   0.129639
min    1915.070000  7993.230000   0.940000
25%    2211.570000  8303.010000   1.020000
50%    2211.665000  8336.225000   1.020000
75%    2323.870000  8763.325000   1.260000
max    2388.200000  9048.150000   1.300000

In [11]:
df.median()

sensor1    2211.665
sensor2    8336.225
sensor3       1.020
dtype: float64

In [14]:
df=df.fillna(df.mean())

In [15]:
df.isnull().sum()

sensor1    0
sensor2    0
sensor3    0
dtype: int64